@model Contact

@{
    ViewData["Title"] = "GetByEmail";
}

<h1>Get Contact By Email</h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommercialPhone)
            </th>
            <th>
                E-mails
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.PersonalPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CommercialPhone)
            </td>
            <td>
                @if (Model.Emails.Any())
                {
                    <ul>
                        @foreach (var email in Model.Emails)
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => email.Address)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => email.Address)
                            </dd>
                        }
                    </ul>
                }
                else
                {
                    <p>Nenhum e-mail encontrado.</p>
                }
            </td>
            <td>
                <a asp-action="Index" class="btn btn-info btn-sm" asp-route-id="@Model.Id">Home</a>
                <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@Model.Id">Details</a>
                <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@Model.Id">Edit</a>
                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@Model.Id">Delete</a>
            </td>
        </tr>
    </tbody>    
</table>